<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>cgma</name>
    <displayName><![CDATA[Minimal order amount by customer groups]]></displayName>
    <version><![CDATA[1.6.6]]></version>
    <description><![CDATA[Define minimal order amount based on groups from your store.]]></description>
    <author><![CDATA[MyPresta.eu]]></author>
    <tab><![CDATA[advertising_marketing]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>