
/*
CSS Personalizado para la Tienda AZAI Store
By Azai.com them
*/


/***************************************************************
 ******************* General CSS Changel  *********************
 ***************************************************************/
 span.it_04953631.top-level-menu-li-span.jxmegamenu_item.sf-with-ul {color: black;} 
 section.facet .facet-list .slider-container .back-bar .pointer {background: #000000;}
 section.facet .facet-list .slider-container .back-bar .selected-bar {background: #ababab;}
 ul .list-default li a, ul[class*=" list-default-"] li a, ul[class^=list-default-] li a {color: grey;}
 .toTop, .toTop:focus {font-size: 50px;color:#2f2c2f;background:none;}
 

 /*------------------- PRODUCT- SECTION ----------------*/
 /*Color botom primario*/
 .btn-primary {color: white;background: #060606;-moz-box-shadow: inset 0 0 0 2px #464646;-webkit-box-shadow: inset 0 0 0 2px #000000;box-shadow: inset 0 0 0 2px #080808;border: none;}
 label.custom-control-label.active {box-shadow: 0 0 0 0.125rem #000000;}
 .custom-radio .custom-control-label:after {background: #000000;}
 .product-reference span {color: #A1A1A1;}
 h1.h2.product-name {font-family: 'Didot-Italic', cursive!important;}


 /*------------------ FOOTER - SECTION -------------*/
 .footer-container #footer h3{font:bold 20px/30px Helvetica, sans-serif;text-transform:uppercase;color:#2f2c2f;}
 header .col-sm-12 i{color:black!important;}
 #footer div.container div.footer-column div.col-12:nth-child(1n+2){border-left:1.5px solid #ebebeb;}
 #footer div.container div.text-center{margin-top:40px;}
 #footer div.container #redes-desk{font-size:1.2rem;}
 #footer .footer-block:not(.block-social) ul li a {color:gray;}
 .footer-container #footer h4{font:400 20px/30px Helvetica, sans-serif;text-transform:uppercase;color:#2f2c2f;}


/*------------------- HEADER - SECTION ----------------*/
 #index #header .header-nav-mobile{background:#fff!important;}
 #index .header-absolute {background: #ffffff;}
 header .col-sm-12 i{color:black!important;}
 div#ship {background: black;color: white;padding: 2px 0px 0px 0px;text-transform: uppercase;}
 
 
/***************************************************************
 ***************LIST OF DISABLED FUNCTIONS *********************
 ***************************************************************/
 /*Display arrows slider images module*/
 .swiper-button-wrapper {display: none!important;}
 /*Display Backgraud banner categori*/
 .block-category {display: none;}
 /*Display Buttom Quantity in Product*/
 .product-quantity.d-flex.flex-wrap.align-content-center {display: none!important;}
 

/***************************************************************
 ******************* Screen Max-width 1650px *******************
 ***************************************************************/

@media only screen and (min-width:1650px){
   
    
}

/***************************************************************
 ******************* Screen Min-width 1366px *********************
 ***************************************************************/

 @media only screen and (min-width:1366px){
   #footer {padding-top: 80px;}
}

/***************************************************************
 ******************* Screen Min-width 1200px *********************
 ***************************************************************/

@media only screen and (min-width:1200px){
  /*Menu fix position*/
 .default-menu>ul>li+li {margin-left: 1.2rem;color: #000000!important;}
 .default-menu>ul>li>a {font-size: .75rem;color: black!important;}
 .stickUpTop:not(.isStuck) .stick-up {padding-top: 40px;padding-bottom: 40px;height: 0px;}
 .header-absolute {position: absolute;left: 0;top: 0;right: 0;background: rgba(255, 255, 255, 0.64)!important;z-index: 3;height: 100px;}
  /*section#main {top: 145px;position: relative;}*/
  section#wrapper {top: 65px;position: relative;}
  #index section#wrapper {top:0px;}
  ol.breadcrumb {background: #f4f4f4;padding-top: 10px;padding-bottom: 10px;margin-top: 0px;margin-bottom: 15px;}
  #footer {padding-top: 70px;}
  header#header {z-index:999;}/*Posicion Principal del header*/
  #header .header-absolute{padding-top:2px;padding-bottom:2px;}
  /*#header .stickUpTop:not(.isStuck) .stick-up{padding:0!important;}*/ /* Verificar */
  #footer div.container{padding:50px 170px;}
 .grid .product-miniature .product-miniature-container .product-miniature-information div{margin-top:0px;margin-bottom:0px!important;}
 
}

/***************************************************************
 ******************* Screen Max-width 1200px *******************
 ***************************************************************/

@media only screen and (max-width:1200px){
   .separator-list > :not(:last-child){margin-right:3.4375rem;}
    
}   

/***************************************************************
 ******************** Screen Min-width 768px  ******************
 ***************************************************************/
 /* iPads (portrait and landscape) ----------- */
@media only screen and (min-width:768px){
  /*--------------- Footer Social Profiles ----------------*/
	#footer div.container #redes-desk a i{
	    font-size:22px;
	    color:white;
	    background-color:black;
	    padding:10px;
	    display:inline-block;
	    min-width:40px;
	    min-height:40px;
	    border-radius:50%;
	    margin:5px 5px;
	    }
	#footer div.container #redes-desk a i:hover{
	    font-size:18px;
	    background-color:#4a4a4a;
	}
	
	 
}

/***************************************************************
 ******************* Screen Max-width 768px *********************
 ***************************************************************/

@media only screen and (max-width:767px){
    /*IPAD top banner sticker*/
    #footer div.container div.text-center{margin-top:20px;}
	#ps-image-slider.swiper-container .swiper-slide {width: 122%;min-height: 376px;top: 0px;} /*Slider*/
}

/***************************************************************
 ******************* Screen Max-width 720x *********************
 ***************************************************************/

@media only screen and (max-width:720px){
    
}


/***************************************************************
 ******************* Screen Max-width 640px *********************
 ***************************************************************/

@media only screen and (max-width: 640px){
/*------------------- AJUSTES GENERALES ----------------*/	
/*Ajustes de tamaños slider*/	
#ps-image-slider.swiper-container .swiper-slide .img-fluid {top: 31%!important;width: 110%!important;height: auto;min-width: 440px!important;}
#ps-image-slider.swiper-container .swiper-slide {width: 122%;min-height: 250px;top: 47px}
/*------------------- PRODUCT- SECTION ----------------*/
  /*Buttom add to bag*/
 .add.mb-1 {width: 100%;}
 button.btn.btn-md.btn-primary.add-to-cart {padding: 20px 66px;margin-bottom: 10px;width: 100%;}
 .product-variants .custom-select {width: 89%;}

 
 }

/***************************************************************
 ******************* Screen Max-width 550px *********************
 ***************************************************************/

@media (max-width: 550px) {
 
}

/***************************************************************
 ******************* Screen Max-width 420px *********************
 ***************************************************************/


@media only screen and (max-width:420px){
#header>.wrapper {padding-top: 3px;padding-bottom: 3px;width: 150px}
header#header {display: flex;}
.separator-list.justify-content-center {position: relative;top: 15px;}
li.top-level-menu-li {margin-bottom: 0px;padding-bottom: 0px;border-bottom: 1px solid #cccccc36;border-left: 0px!important;padding-left:0px;padding-right: 0px;padding: 0px 0px 0px 7px;}
ul.menu.clearfix.top-level-menu.jxmegamenu_item {margin: 0px -13px 0px -13px;}
.menu-mobile-grover:after {padding: 5px;}
}
/***************************************************************
 ******************* Screen Max-width 375px *********************
 ***************************************************************/
@media only screen and (max-width:375px){
 
}
}