
/*
CSS Personalizado para la Tienda AZAI Store
By Azai.com them
*/


/***************************************************************
 ******************* General CSS Changel  *********************
 ***************************************************************/
 span.it_04953631.top-level-menu-li-span.jxmegamenu_item.sf-with-ul {color: black;}

 
/***************************************************************
 ***************LIST OF DISABLED FUNCTIONS *********************
 ***************************************************************/
 /*Null arrows: slider images module*/
 .swiper-button-wrapper {display: none!important;}
 div#ship {background: black;color: white;padding: 2px 0px 0px 0px;text-transform: uppercase;}
 /*Display Backgraud banner categori*/
 .block-category {display: none;}
 

/***************************************************************
 ******************* Screen Max-width 1650px *******************
 ***************************************************************/

@media only screen and (min-width:1650px){
   
    
}

/***************************************************************
 ******************* Screen Max-width 1200px *******************
 ***************************************************************/

@media only screen and (max-width:1200px){
   
    
}   


/***************************************************************
 ******************* Screen Min-width 1366px *********************
 ***************************************************************/

 @media only screen and (min-width:1366px){
   
}


/***************************************************************
 ******************* Screen Min-width 1200px *********************
 ***************************************************************/

@media only screen and (min-width:1200px){
  /*Menu fix position*/
 .default-menu>ul>li+li {margin-left: 1.2rem;color: #000000!important;}
 .default-menu>ul>li>a {font-size: .75rem;color: black!important;}
 .stickUpTop:not(.isStuck) .stick-up {padding-top: 40px;padding-bottom: 40px;height: 0px;}
 .header-absolute {position: absolute;left: 0;top: 0;right: 0;background: rgba(255, 255, 255, 0.64)!important;z-index: 3;height: 100px;}
  section#main {top: 145px;position: relative;}
  section#wrapper {top: 50px;position: relative;}
  #index section#wrapper {top:0px;}
  ol.breadcrumb {background: #f4f4f4;padding-top: 10px;padding-bottom: 10px;margin-top: 0px;margin-bottom: 15px;}
  #footer {padding-top: 200px;}
 
}

/***************************************************************
 ****** Screen Min-width 768px to  Max-width 1024px ************
 ***************************************************************/
 /* iPads (portrait and landscape) ----------- */
@media only screen and (min-width:768px) and (max-width:1024px){
 
}

/***************************************************************
 ******************* Screen Max-width 768px *********************
 ***************************************************************/

@media only screen and (max-width:767px){
    /*IPAD top banner sticker*/
   
}

/***************************************************************
 ******************* Screen Max-width 720x *********************
 ***************************************************************/

@media only screen and (max-width:720px){
    
}


/***************************************************************
 ******************* Screen Max-width 640px *********************
 ***************************************************************/

@media only screen and (max-width: 640px){

   
 }

/***************************************************************
 ******************* Screen Max-width 550px *********************
 ***************************************************************/

@media (max-width: 550px) {
 
}

/***************************************************************
 ******************* Screen Max-width 420px *********************
 ***************************************************************/


@media only screen and (max-width:420px){
#header>.wrapper {padding-top: 3px;padding-bottom: 3px;width: 150px}
header#header {display: flex;}
.separator-list.justify-content-center {position: relative;top: 15px;}
}
/***************************************************************
 ******************* Screen Max-width 375px *********************
 ***************************************************************/
@media only screen and (max-width:375px){
 
}
}